* {
	margin: 0;
	padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Krub";
  background-color: #f7f7f7;
  font-size: 1em;
  line-height: 1.5em;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	display: block;
	outline: none;
}

label {
	display: block;
}

ul {
	list-style: none;
}

input {
	outline: none;
	display: block;
}

/* main styles */

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.boxing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	position: relative;
	padding: 0 0.75em;
}

/* major styling */

.text-field {
	position: relative;
	box-sizing: border-box;
	padding: 18px 16px 16px 16px;
	font-size: 16px;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .14);
	-webkit-transition: all 0.318s ease-out;
	-moz-transition: all 0.318s ease-out;
	-o-transition: all 0.318s ease-out;
	color: #666;
	background-color: white;
	resize: none;
	border-radius: 6px;
	font-family: "krub";
}

.text-field::placeholder {
    opacity: 0.54;
    font-weight: 400;
}

.text-field:focus {
    border: 1px solid #478FFD;
}

.def-btn {
    position: relative;
    box-sizing: border-box;
    font-size: 16px;
    padding: 18px 16px 16px 16px;
    border: transparent;
    background-color: #f2f2f2;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.def-btn.loading {
    background-color: #d2d2d2 !important;
}

.def-form {
	position: relative;
	padding: 1.5em;
	border-radius: 6px;
	margin: auto;
	top: 20vh;
	background-color: white;
	width: 25%;
	box-shadow: 0px 1px 12px rgba(0, 0, 0, .08);
}

.def-form .header {
	position: relative;
	font-size: 1.5em;
	margin-bottom: 48px;
	font-weight: 500;
	opacity: 0.78;
}

.def-form .text-field {
	position: relative;
	margin-bottom: 16px;
	width: 100%;
}

.def-form .def-btn {
	position: relative;
	margin-top: 48px;
	background-color: #478FFD;
	width: 100%;
}

.def-form .error {
    position: relative;
    font-size: 13px;
    color: white;
    background-color: rgba(240, 52, 52, .4);
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
    display: none;
    border-left: 4px solid #F03434;
    line-height: 1.25em;
}

.def-form .error strong {
    display: block;
    margin-bottom: 5px;
}

.def-form .error.active {
    display: block;
}